/* ==================== typefaces ==================== */
@font-face {
    font-family: MonaSansRegular;
    src: url("../fonts/Mona_Sans/Mona-Sans-Regular.otf");
}
@font-face {
    font-family: MonaSansItalic;
    src: url("../fonts/Mona_Sans/Mona-Sans-RegularItalic.otf");
}
@font-face {
    font-family: MonaSansMedium;
    src: url("../fonts/Mona_Sans/Mona-Sans-Medium.otf");
}
@font-face {
    font-family: MonaSansBold;
    src: url("../fonts/Mona_Sans/Mona-Sans-Bold.otf");
}
@font-face {
    font-family: MonaSansBlack;
    src: url("../fonts/Mona_Sans/Mona-Sans-Black.otf");
}
@font-face {
    font-family: MonaSansLight;
    src: url("../fonts/Mona_Sans/Mona-Sans-Light.otf");
}
@font-face {
    font-family: MonaSansUltraLight;
    src: url("../fonts/Mona_Sans/Mona-Sans-UltraLight.otf");
}

@font-face {
    font-family: HubotSansRegular;
    src: url("../fonts/Hubot_Sans/Hubot-Sans-Regular.otf");
}
@font-face {
    font-family: HubotSansMedium;
    src: url("../fonts/Hubot_Sans/Hubot-Sans-Medium.otf");
}
@font-face {
    font-family: HubotSansBold;
    src: url("../fonts/Hubot_Sans/Hubot-Sans-Bold.otf");
}
@font-face {
    font-family: HubotSansBlack;
    src: url("../fonts/Hubot_Sans/Hubot-Sans-Black.otf");
}
@font-face {
    font-family: HubotSansLight;
    src: url("../fonts/Hubot_Sans/Hubot-Sans-Light.otf");
}

/* ==================== universal ==================== */
html {
    font-size: 16px;
    position: relative;
    top: 5.5rem;
}

body {
    font-family: MonaSansRegular, Helvetica, Arial, sans-serif;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* ==================== header.section ==================== */
header {
    width: 100%;
    height: 5.5rem;
    padding: 1rem 5rem;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(12px);
}

header nav li {
    display: inline-block;
}

header nav a {
    padding: 2rem;
    font-family: MonaSansRegular, Helvetica, Arial, sans-serif;
    text-transform: initial;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
}

header nav a:hover {
    color:#c4d353;
}

/* ==================== main ==================== */
main {
    position: relative;
    width: 100%;
    margin: 0 auto 10rem;
    z-index: 0;
}

main section.page {
    max-width: calc(1300px + 3rem);
    min-width: 400px;
    flex-grow: 1;
    margin: 0 auto;
    padding: 10rem 1.5rem 0;
}

/* ==================== div. background ==================== */
div.background_media {
    width: 100%;
    display: flex;
    position: absolute;
    top: -5rem;
    right: 0;
    z-index: -999999;
}

#home_background>video {
    width: 100%;
}

#footer_background {
    position: relative;
    width: 100%;
    top: -54rem;
}

#footer_background img {
    position: absolute;
    right: 0;
}

#project_background {
    position: relative;
    width: 100%;
    top: 0;
}

#project_background img {
    position: absolute;
    left: 0;
}


/* ==================== section#banner ==================== */
#banner {
    height: calc(100vh - 11rem);
    display: flex;
    align-items: flex-end;
    border: none;
    padding-bottom: 0;
}

#banner .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#banner p {
    font-size: 1.25rem;
    margin-bottom: 1.2rem;
}

#banner p>em {
    font-family: MonaSansItalic, Helvetica, Arial, sans-serif;
}

#banner .intro {
    display: flex;
    flex-direction: column;
}

#banner h1 {
    font-size: 6.25rem;
    font-family: MonaSansBlack, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 100%;
    font-weight: 800;
    overflow-wrap: break-word;
    color: #24292f;
    margin-bottom: 1rem;
    display: block;
}

#banner .intro::after {
    content: '';
    position: relative;
    top: 0;
    z-index: 10;
    height: .625rem;
    width: 6rem;
    background: #c4d353;
    border-radius: 5px;
}

/* ==================== section#about ==================== */
#about {
    height: auto;
    padding-top: 6rem;
    border: none;
}

#about .container{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#about h2 {
    font-size: 4rem;
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 100%;
    font-weight: 600;
    overflow-wrap: break-word;
    color: #24292f;
    margin-bottom: 7rem;
    display: block;
}


#about .container .content{
    max-width: 540px;
    flex-grow: 1;
}

#about .container blockquote {
    display: block;
}

#about .container blockquote p {
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #24292f;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

#about .container blockquote::before {
    content: open-quote;
    display: block;
    font-size: 80px;
    line-height: 0;
    position: relative;
    top: -1rem;
    color: #b1d353;
}

#about .container article p {
    font-family: MonaSansLight, Helvetica, Arial, sans-serif;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

/* ==================== section#projects ==================== */
#projects {
}

#project_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}

#project_title {
    font-size: 3rem;
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 100%;
    font-weight: 600;
    overflow-wrap: break-word;
    color: #24292f;
    margin-bottom: 3.5rem;
    display: block;
    position: relative;
}

#project_title::after {
    content: '';
    position: absolute;
    bottom: -0.625em;
    height: 0.625rem;
    width: 6rem;
    background: #c4d353;
    border-radius: 5px;
    transform: translateX(-50%);
}

#project_article p {
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #24292f;
    font-size: 1.25rem;
    line-height: 2.5rem;
    max-width: 72ch;
}

#project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
}

#projects .project_box {
    border-radius: 1.2rem;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

#projects .project_icon {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#projects .project_description {
    width: 100%;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
}

#projects .project_description h3 {
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.625em 0.625em 0.625em 0;
}

#projects .project_description p {
    font-family: MonaSansLight, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-right: 0.625em;
    padding-bottom: 0.625em;
}



/* ==================== section#contact ==================== */
#contact {
    height: auto;
    border: none;
    position: relative;
    padding-top: 12rem;
}

#contact .container{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#contact #contact_title {
    font-size: 3rem;
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 100%;
    font-weight: 600;
    overflow-wrap: break-word;
    color: #24292f;
    margin-bottom: 4rem;
    display: block;
    position: relative;
}

#contact #contact_title::after {
    content: '';
    position: absolute;
    bottom: -0.625em;
    height: 0.625rem;
    width: 6rem;
    background: #c4d353;
    border-radius: 5px;
}

#contact .container .content{
    max-width: 540px;
    flex-grow: 1;
}

#contact .container article {
    display: block;
}

#contact .container article p {
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #24292f;
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

#contact_form {
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 3em;
    background-color: #fff;
    border-radius: 1.33rem;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.contact_form_input {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.contact_form_input label {
    font-family: HubotSansLight, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0.25em;
}

.contact_form_input input, .contact_form_input textarea {
    font-family: MonaSansLight, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.625em 0.625em 0.625em 0;
    border-bottom: 1px solid #24292f;
}

#name_input, #email_input {
    height: 25%;
}

#message_input {
    height: 50%;
}

#message_input textarea {
    resize: none;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 1rem;
    margin: 0;
    width: 30%;
}

#submit_button {
    background-color: #b1d353;
    border-radius: 5px;
    padding: 1em 2em;
    font-family: MonaSansRegular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}


/* ==================== footer.section ==================== */
footer {
    background: #000;
    color: #fff;
    z-index: 10;
}

#footer__container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    flex-grow: 1;
    padding: 0 1.5rem;
    margin: 0 auto;
}

#upper__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    border-bottom: 1px solid #444;
}

#upper__footer .content {
    max-width: 480px;
    flex-grow: 1;
}

#upper__footer h3 {
    font-family: MonaSansBold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

#upper__footer p {
    font-family: HubotSansLight, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.5rem;
}

#upper__footer nav.social {
    max-width: 200px;
}

#upper__footer #social__icons {
    display: inline-flex;
}

#upper__footer .footer__icon {
    margin-right: 1rem;
    width: 1.5rem;
}

#lower__footer {
    display: block;
    margin: 0 auto;
    padding: 2.5rem 0;
}

#lower__footer {
    font-family: MonaSansUltraLight, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.4rem;
}

#lower__footer a {
    font-family: MonaSansRegular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: white;
}