/*
    0 - 600px:      Phone
    600 - 900px:    Tablet portrait
    900 - 1200px:   Tablet landscape
    [1200 - 1800] is where our normal styles apply
    1800px + :      Big desktop
*/

/* ==================== typefaces ==================== */
@font-face {
    font-family: MonaSansRegular;
    src: url("../fonts/Mona_Sans/Mona-Sans-Regular.otf");
}
@font-face {
    font-family: MonaSansItalic;
    src: url("../fonts/Mona_Sans/Mona-Sans-RegularItalic.otf");
}
@font-face {
    font-family: MonaSansBold;
    src: url("../fonts/Mona_Sans/Mona-Sans-Bold.otf");
}
@font-face {
    font-family: MonaSansBlack;
    src: url("../fonts/Mona_Sans/Mona-Sans-Black.otf");
}
@font-face {
    font-family: MonaSansLight;
    src: url("../fonts/Mona_Sans/Mona-Sans-Light.otf");
}
@font-face {
    font-family: MonaSansUltraLight;
    src: url("../fonts/Mona_Sans/Mona-Sans-UltraLight.otf");
}

@font-face {
    font-family: HubotSansRegular;
    src: url("../fonts/Hubot_Sans/Hubot-Sans-Regular.otf");
}
@font-face {
    font-family: HubotSansMedium;
    src: url("../fonts/Hubot_Sans/Hubot-Sans-Medium.otf");
}
@font-face {
    font-family: HubotSansLight;
    src: url("../fonts/Hubot_Sans/Hubot-Sans-Light.otf");
}

/* ==================== universal ==================== */
html {
    position: relative;
    scroll-behavior: smooth;
}
@media only screen and (min-width: 900px) {
    html {
        font-size: 16px;
    }
}
body {
    font-family: MonaSansRegular, Helvetica, Arial, sans-serif;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* ==================== header.section ==================== */
header {
    font-size: 1rem;
    width: 100%;
    height: 5.5em;
    padding: 1em 2em;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(12px);
}
.header_link-wrapper {
    display: inline-block;
}
.header_link {
    font-family: MonaSansRegular, Helvetica, Arial, sans-serif;
    text-transform: initial;
    font-size: 1.2em;
    font-weight: 700;
    color: #333;
    padding: 2em;
}
.header_link:hover {
    color:#c4d353;
    transition: color 200ms;
}
@media only screen and (min-width: 600px) {
    #header_nav_list {
        display: block;
    }
    #header_nav_icon {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    header{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 600px) {
    header{
        justify-content: flex-end;
        padding: 1rem;
        font-size: 75%;
    }
    #header_nav_list {
        display: none;
    }
    #header_nav_icon {
        display: block;
        height: 2.5rem;
    }
    #header_nav_icon img {
        height: 100%;
    }
    #hamburger_menu_close {
        display: none;
    }
}

/* ==================== main ==================== */
main {
    position: relative;
    width: 100%;
    margin: 0 auto 10rem;
    z-index: 0;
    padding-top: 5.5rem;
}
main .page_section {
    min-width: 400px;
    flex-grow: 1;
    margin: 0 auto;
    padding: 6rem 2rem 4rem;
}
@media only screen and (min-width: 1440px) {
    main .page_section {
        max-width: calc(1340px);
    }
}
@media only screen and (max-width: 1440px) {
    main .page_section {
        max-width: calc(1100px);
    }
}
@media only screen and (max-width: 1200px) {
    main .page_section {
        max-width: calc(900px);
    }
}
@media only screen and (max-width: 960px) {
    main .page_section {
        max-width: calc(600px);
    }
}
@media only screen and (max-width: 600px) {
    main .page_section {
        max-width: calc(500px);
    }
}

/* ==================== .background_media ==================== */
.background_media {
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
    z-index: -999999;
}
#home_background {
    position: absolute;
    top: -5rem;
    right: 0;
}
#project_background img {
    position: absolute;
    left: 0;
}
#footer_background {
    top: -54rem;
    right: 0;
}
#footer_background img {
    position: absolute;
    right: 0;
}

/* ==================== section#banner ==================== */
#banner {
    height: calc(100vh - 11rem);
    display: flex;
    align-items: flex-end;
    border: none;
    padding-bottom: 0;
    min-width: 75ch;
    font-size: 1rem;
}
#banner .page_section_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#banner_greeting {
    font-size: 1.25em;
    margin-bottom: 1.2em;
}
#banner_greeting>em {
    font-family: MonaSansItalic, Helvetica, Arial, sans-serif;
}
#banner_name_wrapper {
    display: flex;
    flex-direction: column;
}
#banner_name {
    font-size: 6.25em;
    font-family: MonaSansBlack, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 100%;
    font-weight: 800;
    overflow-wrap: break-word;
    color: #24292f;
    margin-bottom: 0;
    display: block;
}
#banner_name::after {
    content: '';
    position: relative;
    top: 0;
    z-index: 10;
    height: .625em;
    width: 6em;
    background: #c4d353;
    border-radius: 5px;
}
@media only screen and (max-width: 900px) {
    #banner {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 600px) {
    #banner {
        font-size: 0.8rem;
    }
}

/* ==================== section#about ==================== */
#about {
    height: auto;
    padding-top: 10rem;
    border: none;
}
#about .page_section_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 4.5rem;
    row-gap: 2rem;
    justify-content: space-between;
}
#about_title {
    font-size: 4rem;
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 100%;
    font-weight: 600;
    overflow-wrap: break-word;
    color: #24292f;
    margin-bottom: 7rem;
    display: block;
}
.about_content {
    width: 100%;
    flex-grow: 1;
}
#about_intro_article {
    display: block;
}
#about_intro_article p {
    font-family: HubotSansBold, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #24292f;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 0.625em;
}
#about_intro_article::before {
    content: open-quote;
    display: block;
    font-size: 80px;
    line-height: 0;
    position: relative;
    top: -1rem;
    color: #b1d353;
}
#about_supplement_article p {
    font-family: MonaSansLight, Helvetica, Arial, sans-serif;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 1.25rem;
}
@media only screen and (max-width: 1300px) {
    .about_content {
        max-width: 75ch;
    }
}

/* ==================== section#projects ==================== */


#project_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}
#project_article_title {
    font-size: 3rem;
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 100%;
    font-weight: 600;
    overflow-wrap: break-word;
    color: #24292f;
    margin-bottom: 3.5rem;
    display: block;
    position: relative;
}
#project_article_title::after {
    content: '';
    position: absolute;
    bottom: -0.625em;
    height: 0.625rem;
    width: 6rem;
    background: #c4d353;
    border-radius: 5px;
    transform: translateX(-50%);
}
#project_article p {
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #24292f;
    font-size: 1.25rem;
    line-height: 2.5rem;
    max-width: 72ch;
}

#projects_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
}

.project_card {
    border-radius: 1.2rem;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.project_thumbnail {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.project_description {
    width: 100%;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
}

.project_name {
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.625em 0.625em 0.625em 0;
}

.project_details {
    font-family: MonaSansLight, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-right: 0.625em;
    padding-bottom: 0.625em;
}


/* ==================== section#contact ==================== */
#contact {
    height: auto;
    border: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 8rem 1.5rem 6rem;
}
#contact .page_section_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
    #contact .page_section_container {
        width: auto;
        margin: 0 auto;
        flex-direction: column;
    }
}
#contact_title {
    font-size: 3rem;
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 100%;
    font-weight: 600;
    overflow-wrap: break-word;
    color: #24292f;
    margin-bottom: 4rem;
    display: block;
    position: relative;
}
#contact_title::after {
    content: '';
    position: absolute;
    bottom: -0.625em;
    height: 0.625rem;
    width: 6rem;
    background: #c4d353;
    border-radius: 5px;
}
.contact_content {
    max-width: 600px;
    min-width: 400px;
    flex-grow: 1;
}
#contact_article {
    display: block;
}
#contact_article p {
    font-family: HubotSansMedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #24292f;
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}
#contact_form {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 3em;
    background-color: #fff;
    border-radius: 1.33rem;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
.contact_form_input {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
#name_input, #email_input {
    height: 25%;
}
#message_input {
    height: 50%;
}
.contact_form_input_asked {
    font-family: HubotSansLight, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0.25em;
}
.contact_form_input_response {
    font-family: MonaSansLight, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.625em 0.625em 0.625em 0;
    border-bottom: 1px solid #24292f;
}
#message_input textarea {
    resize: none;
}
#contact_form_submit {
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 1rem;
    margin: 0;
    width: 30%;
}
#contact_form_submit_button {
    background-color: #b1d353;
    border-radius: 5px;
    padding: 1em 2em;
    font-family: MonaSansRegular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}


/* ==================== footer.section ==================== */
footer {
    background: #000;
    color: #fff;
    z-index: 10;
}
#footer__container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    flex-grow: 1;
    padding: 0 1.5rem;
    margin: 0 auto;
}
@media only screen and (max-width: 840px) {
    #footer_upper {
        flex-direction: column;
    }
}
#footer_upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 2rem;
    border-bottom: 1px solid #444;
}
.footer_upper_content {
    max-width: 480px;
    margin-bottom: 3rem;
    flex-grow: 1;
}
#footer_upper h3 {
    font-family: MonaSansBold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 1.2rem;
}
#footer_upper p {
    font-family: HubotSansLight, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.5rem;
}

#footer_socials {
    max-width: 200px;
}
#social_icons {
    display: inline-flex;
}
.footer_social_icon{
    margin-right: 1rem;
    width: 1.5rem;
}
#lower_footer {
    display: block;
    margin: 0 auto;
    padding: 2.5rem 0;
    font-family: MonaSansUltraLight, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.4rem;
}
#lower_footer a {
    font-family: MonaSansRegular, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: white;
}
